* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* border: 2px solid yellow; */
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    --right-margin : 50px;
}

body {
    background-color: rgb(152, 173, 201);
}

.container {
    display:flex;
    height: 100vh;
}

.left {
    position: relative;
    flex: 1 1 55%;
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border-right: 3px solid rgb(0, 1, 53);
}

.photo-credit {
    color: white;
    margin-bottom: 10px;
}

.photo-credit > a {
    color: white;
}

.logo {
     width: 100%;
     height: 20%;
     position: absolute;
     top: 15%;
     background-color: rgba(0, 0, 0, 0.507);
}

.right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex:1 1 35%;   
    font-size: .9rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: var(--right-margin);
    margin-bottom: 60px;
    gap:20px;
}

.top-text,
.top-text > em {
    font-size: 1.5rem;
    width: 65%;
}

.middle {
    flex:1 1 30%;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.199);
    background-color: rgb(211, 230, 255);
    display:flex;
    flex-direction: column;
}

.form-top-text {
    font-size: 1.1rem;
    margin: 20px;
    margin-left: var(--right-margin);
    margin-bottom: 0;
}

form {
    margin:0;
    padding:0;
}

.form-row {
    display:flex;
    gap: 100px;
    margin: 20px;
    margin-left: var(--right-margin);
}

.form-entry {
    display:flex;
    flex-direction: column;
    width: 25%;
}

.form-entry > label {
    font-size: .8rem;
}

.form-entry > input {
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgb(212, 212, 212);
    transition: .1s;
}

.form-entry > input:hover {
    transform:scale(1.05);
    border: 2px solid rgb(139, 218, 255);
}

.form-entry > input:focus{
    outline:none;
    border: 2px solid rgb(34, 137, 255);
    transform: scale(1.05);
}

.form-entry > input.error {
    border: 2px solid rgb(255, 95, 95);
}

.bottom {
    flex: 1 1 35%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: var(--right-margin);
}

.bottom > button {
    background-color: rgb(48, 96, 187);
    border-radius: 6px;
    padding: 7px 25px;
    font-size: .9rem;
    color: white;
    font-weight: 1000;
    outline: none;
    box-shadow: none;
    border:none;
    margin: 25px 0px;
    transition: .1s;
}

button:hover {
    transform: scale(1.1);
    border: 2px solid rgb(18, 0, 99);
}

button:active {
    transform:scale(.9);
}

.bottom > .login-text,
.bottom a {
    font-size: .85rem;
    margin: 0;
    padding: 0;
}

.bottom a {
    color:rgb(0, 48, 136);
    text-decoration: none;
}


