* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
    /* border: 2px solid yellow; */
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    --right-margin : 50px;
}

body {

}

.container {
    display:flex;
    height: 100vh;
}

.left {
    position: relative;
    flex: 1 1 55%;
    background-image: url("images/background.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.photo-credit {
    color: white;
    margin-bottom: 10px;
}

.photo-credit > a {
    color: white;
}

.logo {
     width: 100%;
     height: 20%;
     position: absolute;
     top: 15%;
     background-color: rgba(0, 0, 0, 0.507);
}

.right {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex:1 1 35%;
    width: 70%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: var(--right-margin);
    margin-bottom: 60px;
    gap:20px;
}

.top-text,
.top-text > em {
    font-size: 1.5rem;
}

.middle {
    flex:1 1 30%;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.199);
}

.form-row {
    display:flex;
    gap: 100px;
    margin: 30px;
    margin-left: var(--right-margin);
}

.form-entry {
    display:flex;
    flex-direction: column;
    width: 25%;
}

.form-entry > label {
    font-size: .8rem;
}

.form-entry > input {
    width: 100%;
}

.bottom {
    flex: 1 1 35%;
}

